.gred-font{
    color: -webkit-linear-gradient(to top, #8e2de2, #4a00e0);
    color: linear-gradient(to top, #8e2de2, #4a00e0);
}




  /* footer-classes */
  #lab_social_icon_footer {
    padding: 40px 0;
    background-color:#13191E;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: red;
  }
  

  .footer-text{
      color:white;
  }
  