.pageOne{
    height: 100vh;
    padding-top: 200px;;
}

.purple-div{
    background: #8e2de2;
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0);
    background: linear-gradient(to top, #8e2de2, #4a00e0);
    color: white;
    padding-left:10%;
    padding-right:10%;
}

.statistics-element{
    display: flex;
    justify-content: center;
    font-size: 60px;
}

