.head{
  margin-top: 100px;
  padding: 50px;
  border-right: 3px solid purple;
}
.row2{
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(140, 20, 252, 0.9);
  border-radius: 5px;
  font-size: 20px;
  color: white;
}
.content2{
  margin-bottom: 25px;
  margin-left: 15px;
}
.content{

  margin-top: 100px;
  padding-left: 100px;
  padding-right: 80px;
  padding-top: 85px;
  font-size: 20px;
}

.title{
  font-weight: bolder;
  font-size: 80px;
}
.title2{
  font-weight: bolder;
  fomt-size:40px;
  margin-bottom: 20px;
}

.number-row{
  margin: 50px;
}
.number1{
  font-size: 50px;
  font-weight: bolder;
}
